* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

button {
    margin: 20px;
    width: 150px;
    height: 50px;
    font-weight: 600;
    text-transform: uppercase;
}

.mainwindow {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo__link {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo__block {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.logo {
    color: rgb(182, 93, 122);
    font-size: 60px;
    font-family: 'Red Hat Mono', monospace;
}

.kadin {
    color: palevioletred;
    font-size: 50px;
    font-family: 'Red Hat Mono', monospace;
    margin-top: 12px;
}

.link {

}

.oglavlen {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Red Hat Mono', monospace;
    color: palevioletred;
    margin-top: 12px;
    text-shadow: 1px 1px 1px palevioletred;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* розовая кнопка */

button.pinkbutton {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    background-color: #fff0f0;
    border: 2px solid #b18597;
    border-radius: 0.75em;
    transition: transform 0.15s;
    transform-style: preserve-3d;
}

button.pinkbutton::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c4d2;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 0.15s, box-shadow 0.15s;
}

button.pinkbutton:hover {
    background: #ffe9e9;
    transform: translate(0, 0.25em);
}

button.pinkbutton:hover::before {
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    transform: translate3d(0, 0.5em, -1em);
}

button.pinkbutton:active {
    background: #ffe9e9;
    transform: translate(0em, 0.75em);
}
button.pinkbutton:active::before {
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
}

/* синяя кнопка */

button.bluebutton {
    display: inline-block;
    border-radius: 0.75em;
    font-weight: 600;
    background: rgba(79, 185, 255, 0.438);
    text-transform: uppercase;
    border: 3px solid;
    transition: .3s;
}

button.bluebutton:hover {
    background: rgb(170, 170, 255);
    border: 2px solid rgb(115, 6, 143);
    box-shadow: 0 10px 10px 1px #d826fc3f;
    transform: translateY(-7px);
}

button.bluebutton:active {
    transform: translate(0em, 0.55em);
    box-shadow: 0 0 0 0 #fff0f0;
}

/* зелёная кнопка */

button.greenbutton {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background-color: rgb(14, 226, 14);
    border: 0;
    box-shadow: 0 0 0 0;
    border-radius: 25px;
    transition: .3s;
}
button.greenbutton:hover {
    color: rgb(83, 83, 83);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(14, 226, 14);
    box-shadow: 0 0 5px 1px rgb(14, 226, 14), inset 0 0 5px 1px rgb(14, 226, 14);
}

button.greenbutton:active {
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 5px 1px rgb(255, 255, 255), inset 0 0 5px 1px rgb(255, 255, 255);
}

/* menu */

.natmenu {
    margin: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 228, 196, 0.384);
    border-radius: 15px;
}

.carouselbutton {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #ffffff00;
    background-color: #ffffff00;
    color: grey;
    transition: .3s;
}

.carouselbutton:hover {
    border: 3px solid gray;
}

.carouselbutton:active {
    color: green;
}

.menu {
    align-items: center;
    width: 1200px;
    overflow: hidden;
}

.ul {
    width: 9000px;
    transition: margin-left 250ms;
}

.scroll {
    width: 300px;
    height: 500px;
    display: inline-block;
    margin: 50px;
    border: 4px solid rgb(252, 213, 166);
    border-radius: 15px;
    background-color: white;
    transition: transform 0.15s;
    transform-style: preserve-3d;
}

.scroll::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    box-shadow: 0 0 0 4px rgb(252, 213, 166), 0 0.625em 0 0 rgba(241, 207, 166, 0.575);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 0.15s, box-shadow 0.15s;
}

.scroll:hover {
    background: rgb(243, 240, 240);
    transform: translate(0, 0.25em);
}

.scroll:hover::before {
    box-shadow: 0 0 0 4px rgb(252, 213, 166), 0 0.5em 0 0 rgba(241, 207, 166, 0.575);
    transform: translate3d(0, 0.5em, -1em);
}

.scroll:active {
    background: rgb(243, 240, 240);
    transform: translate(0em, 0.75em);
}

.scroll:active::before {
    box-shadow: 0 0 0 4px rgb(252, 213, 166), 0 0 rgba(241, 207, 166, 0.575);
    transform: translate3d(0, 0, -1em);
}

.photo {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.text {
    margin: 15px;
    text-align: left;
    font-size: 15px;
    font-family: 'Red Hat Mono', monospace;
}